// Core variables and mixins
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "../bootstrap-extended/mixins";

// Load variable overrides
@import "../core/variables/variables";
@import "~bootstrap/scss/variables";

// Overrides user variable
@import "../core/variables/components-variables";

// Card Thumbail lista de temas
.thumbnail {
    background-color: white;
    border: 1px solid #DFE3E7;
    padding: 10px;
    border-radius: 0.267rem;
    height: 100%;
}


// Div da imagem do tema
.temas-box {
    width: 100%;
    position: relative;
    background-color: transparent;
    background-size: cover;
    background-position: top;
    transition: 1.5s;
    height: 250px;
}

// Hover da div da imagem do tema
.temas-box:hover {
    background-position: bottom;
    transition-duration: 8s;
}

.nome-tema {
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.valores-tema {
    margin-bottom: 15px;

    .valor {
        color: #257ca7;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
    }
}

.development {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ededed;
    padding: 15px 0;
}

