@media screen and (min-width: 768px) {
  .detalhes-produtos {
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .detalhes-produtos {
    display: block;
  }
}
.title-especificacoes {
  font-weight: bold;
}

.information-filter {
  display: inline-flex;
}

.information-filter .information {
  visibility: hidden;
}

.information-filter:hover .information {
  visibility: visible;
  transition: all 0.25s ease-out;
  display: block;
  position: absolute;
  z-index: 3;
  margin-left: 19px;
  padding: 7px 9px;
  border-radius: 6px;
  background-color: white;
  width: auto;
  max-width: 200px;
  border: 1px solid #DFE3E7;
}
