.input-selects {
  display: flex;
}

@media screen and (max-width: 767px) {
  .input-selects {
    display: block;
  }
}
.nav-item-produtos {
  width: 100%;
}

.cards-produtos {
  display: flex;
  height: 105px;
  align-items: center;
  box-shadow: 0 2px 14px rgba(38, 60, 85, 0.16);
}

.card-produtos-quantidade .produtos-cadastrados {
  color: #F3825B;
  font-weight: 900;
}

.card-produtos-quantidade .produtos-ativos {
  color: #4EEC91;
  font-weight: 900;
}

.card-produtos-quantidade .produtos-inativos {
  color: #E74C3C;
  font-weight: 900;
}

.card-produtos-quantidade .produtos-sku {
  color: #2181f8;
  font-weight: 900;
}

.card-produtos-quantidade .itenscadastrados {
  color: #e9d385;
  font-weight: 900;
}

.btn-export {
  background: #e7ebef;
}

.btn-export:hover {
  background: #C0C0C0;
}

@media screen and (max-width: 767px) {
  .buttonInsert,
  .exportar-produtos {
    width: 100%;
    margin-top: 10px;
  }
  .exportar-produtos {
    margin-top: 10px;
  }
}
