/.phpunit.cache
/node_modules
/public/css
/public/images
/public/fonts
/public/js
/public/plugins
/public/vendors
/public/mix-manifest.json
/public/build
/public/hot
/public/storage
/storage/*.key
composer.lock
resources/videos
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

