input[type='file'] {
    display: none;
}

.max-width {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#imgPhoto {
    width: 144px;
    height: 144px;
    padding: 8px;
    border: 1px dashed rgba(145, 158, 171, 0.2);
    border-radius: 50%;
    cursor: pointer;
}

#imgPhoto:hover{
    opacity: .5;
}

.type_permited {
    margin: 24px auto 0;
    line-height: 1.5;
    font-size: 0.75rem;
    font-weight: 400;
    color: rgb(145, 158, 171);
    display: block;
    text-align: center;
}
